* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100vh;
    background-color: white;
    color: hsla(246, 49%, 27%, 1);
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}


/* ------------------------------ Header style ------------------------------ */

header {
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    width: 113px;
    height: 35px;
}

.header__mobile-menu {
    margin-left: 10px;
}

.header__call h6 {
    display: none;
}
.header__call {
    background-color: hsla(246, 93%, 66%, 1);
    border-radius: 5px;
    height: 32.5px;
    width: 52px;
    margin-right: 10px;
    flex-shrink: 0;
}

.header__phone-number, .header__menu {
    display: none;
}


/* ------------------------------ Main body ------------------------------ */

.main-body {
    margin: 0;
    padding: 7px;
    width: 360px;
}

.main-body__heading {
    box-sizing: content-box;
    background-image: url(images/computer__small.png);
    background-size: 330px;
    background-repeat: no-repeat;
    background-position: -3px -6px;
    font-size: 18px;
    font-weight: 700;
    width: 330px;
    height: 290px;
    margin-bottom: 0px;
}
.light-part {
    color: hsla(246, 93%, 66%, 1);
}

.main-body__description {
    width: 356px;
    margin-top: 29px;
    font-size: 12px;
    font-weight: 400;
}
.description__light-part {
    font-weight: 700;
}

.main-body__price {
    position: relative;
    left: 50%;
    margin-left: -137.5px;
    width: 275px;
    height: 60px;
    margin-top: 50px;
    background-color: hsla(246, 93%, 66%, 1);
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 12px;
}

.main-body__advertisment {
    width: 340px;
    margin-top: 9px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 137,4%;
}


/* ------------------------------ Laptop style ------------------------------ */

@media screen and (min-width: 768px) {
    header {
        height: 97px;
    }

    .header__logo img {
        width: 177.613px;
        height: 55px;
    }

    .header__call {
        width: 62px;
        height: 38.75px;
    }

    .main-body {
        padding: 10px;
    }

    .main-body__heading {
        background-image: url(images/computer__medium.png);
        background-size: 503px;
        background-position: 250px -19px;
        font-size: 24px;
        width: 750px;
        height: 378px;
    }
    
    .main-body__description {
        width: 350px;
        position: relative;
        top: -358px;
    }

    .main-body__price {
        position: relative;
        left: 0;
        margin-left: 0;
        top: -354px;
        
    }

    .main-body__advertisment {
        text-align: left;
        font-weight: 600;
        width: 287px;
        position: relative;
        top: -340px;
    }
}


/* ------------------------------ Desktop style ------------------------------ */

@media screen and (min-width: 1440px) {
    header {
        justify-content: space-around;
        height: 115px;
    }

    .header__logo {
        order: -1;
        margin-left: 140px
    }
    .header__logo img{
        width: 182px;
    }

    .header__mobile-menu {
        display: none;
    }

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 34px;
        min-width: 400px;
        font-size: 14px;
        font-weight: 700;
    }

    .header__phone-number {
        flex-shrink: 0;
        display: inline-block;
        text-align: right;
        width: 290px;
        font-size: 24px;
        font-weight: 800;
        margin-inline: 75px;
    }
    .phone .phone__calling-time {
        position: relative;
        top: -9px;
        font-size: 12px;
        font-weight: 700;
    }
    .phone a {
        margin: 3px;
    }

    .header__call img{
        display: none;        
    }
    .header__call h6 {
        display: inline;
    }
    .header__call {
        width: 177px;
        height: 60px;
        margin-left: -50px;
        margin-right: 140px;
    }
    .header__call h6 {
        color: white;
        font-size: 12px;
        font-weight: 800;
    }

    .main-body {
        padding-inline: 140px;
    }

    .main-body__heading {
        background-image: url(images/computer__big.png);
        background-size: 855px;
        background-position: 425px -120px;
        font-size: 36px;
        width: 1200px;
        height: 569px;
    }
    .heading__first-line::after {
        content: "\A";
        white-space: pre;
    }

    .main-body__description {
        font-size: 16px;
        top: -470px;
        width: 619px;
    }
    .main-body__price {
        top: -400px;
    }
    .main-body__advertisment {
        top: -390px;
        width: 472px;
        font-size: 14px;
    }
}